footer
{
    background-color: #FFF0DC;
    height: 100px;
}
.separat
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin: 5px;
    margin-top: 20px;
}
.linkfooter
{
    text-decoration: none;
    color: #47341c;
    margin: 5px;
}
.linkfooter:hover
{
    color: #AB886D;
}
.social
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgsocial
{
    width: 20px;
    margin: 2px;
    filter: invert(17%) sepia(7%) saturate(4166%) hue-rotate(353deg) brightness(95%) contrast(85%);
}
.imgsocial:hover
{   
    filter: invert(57%) sepia(22%) saturate(521%) hue-rotate(344deg) brightness(94%) contrast(89%);;
}
.treicutii
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.h3
{
    display: flex;
    justify-content: center;
    align-items: center;
}