body
{
    background-color: #F0BB78;
}
*
{
    margin: 0;
}
nav
{
    background-color: #FFF0DC;
    display: flex;
    color: white;
    height: 40px;
    align-items: center;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    gap: 10px;
    position: sticky;
    top: 0;
    overflow: hidden;
}
.logo
{
    height: 40px; 
    width: 40px;
    transition: width 1s, height 1s;
}
.logo:hover
{
    height: 55px;
    width: 55px;
}
.contact 
{
    height: 40px;
    width: 40px;
    transition: width 1s, height 1s;
}
.contact:hover
{
    width: 50px;
    height: 50px;
}
.divcontact
{
   display: flex;
   height: 40px;
   border-radius: 20px;
   margin: 5px;
   padding: 10px;  
   gap: 10px;
   width: 30%;
   justify-content: end;
}
.cosh 
{
    height: 40px;
    width: 40px;
    transition: width 1s, height 1s;
}
.cosh:hover
{
    width: 50px;
    height: 50px;
}
.produse
{
    display: flex;
    height: 40px;
    border-radius: 20px;
    margin: 0px;
    padding: 10px;  
    gap: 10px;
    width: 20%;
    align-items: center;
    justify-content: end;
    font-size: 120%;
}
.stilproduse
{
    text-decoration: none;
    color: black;
}
.stilproduse:hover
{
    color: #AB886D;
}
.pachete
{
    display: flex;
    height: 40px;
    border-radius: 20px;
    margin: 0px;
    padding: 10px;  
    gap: 10px;
    width: 20%;
    align-items: center;
    justify-content: start;
    font-size: 120%;
} 
.stilpachete
{
    text-decoration: none;
    color: #AB886D;
}
.imagine
{
    display: flex;
    height: 40px;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;  
    gap: 10px;
    width: 30%;
    align-items: center;
    justify-content: left;
}
.divh
{
    display: flex;
    align-items: top;
    justify-content: center;
    margin-top: 20px;
}
.primultitlu
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    border-radius: 20px;
    width: 950px;  
}
.map
{
    height: 40px;
    width: 40px;
    transition: width 1s, height 1s;
}
.map:hover
{
    height: 50px;
    width: 50px;
}
.stildesprenoi
{
    text-decoration: none;
    color: black;
}
.stildesprenoi:hover
{
    color: #AB886D;
}

.titlu
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1055px;
    height: 60px;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.pachetele
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.divpachet
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    margin: 5px;
}
.aranjatpret
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 10px;
}



.imag
{
    width:  140px;
    height: 190px;
    border-radius: 10px;
    transition: width 1s, height 1s;
}
.imag:hover
{
    width: 160px;
    height: 210px;
}

.active 
{
    display: block;
}


