body
{
    background-color: #F0BB78;
}
*
{
    margin: 0;
}
nav
{
    background-color: #FFF0DC;
    display: flex;
    color: white;
    height: 40px;
    align-items: center;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    gap: 10px;
}
.logo
{
    height: 40px; 
    width: 40px;
    transition: height 1s, width 1s;
}
.logo:hover
{
    height: 55px;
    width: 55px;
}
.stildesprenoi
{
    text-decoration: none;
    color: black;
}
.stildesprenoi:hover
{
    color: #AB886D;
}
.map
    {
        height: 40px;
        width: 40px;
        transition: width 1s, height 1s;
    }
    .map:hover
    {
        height: 50px;
        width: 50px;
    }
.contact 
{
    height: 40px;
    width: 40px;
    transition: width 1s, height 1s;
}
.contact:hover
{
    width: 50px;
    height: 50px;
}
.divcontact
{
   display: flex;
   height: 40px;
   border-radius: 20px;
   margin: 5px;
   padding: 10px;  
   gap: 10px;
   width: 30%;
   justify-content: end;
   align-items: center;
}
.cosh 
{
    height: 40px;
    width: 40px;
    transition: height 1s, width 1s;
}
.cosh:hover
{
    height: 50px;
    width: 50px;
}
.produse
{
    display: flex;
    height: 40px;
    border-radius: 20px;
    margin: 0px;
    padding: 10px;  
    gap: 10px;
    width: 20%;
    align-items: center;
    justify-content: end;
    font-size: 120%;
} 
.stilproduse
{
    text-decoration: none;
    color: black;
}
.stilproduse:hover
{
    color: #AB886D;
}
.pachete
{
    display: flex;
    height: 40px;
    border-radius: 20px;
    margin: 0px;
    padding: 10px;  
    gap: 10px;
    width: 20%;
    align-items: center;
    justify-content: start;
    font-size: 120%;
}
.stilpachete
{
    text-decoration: none;
    color: black;
}
.stilpachete:hover
{
    color: #AB886D;
}
.imagine
{
    display: flex;
    height: 40px;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;  
    gap: 10px;
    width: 30%;
    align-items: center;
    justify-content: left;
}



.descriere
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
}
.adaugaincos
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centrat
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.carte
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 300px;
    height: 450px;
    border-radius: 20px;
}
.plata
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 700px;
    height: 450px;
    border-radius: 20px;
    margin-left: 10px;
}
.carteimg
{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 2px;
}
.textul
{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    width: 600px;
    height: 300px;
    font-size: 100%;
}
.imgsrc
{
    height: 350px; 
    width: 300px; 
    margin: 2px;
}
.buton
{
    background-color: #AB886D;
    border: 2px solid black;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    color: white;
}
.buton:hover
{
    background-color: #F0BB78;
}
.divbuton
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.inputnr
{
    width: 30px;
}




.slideshow-container 
{
    position: relative;
    max-width: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.slide 
{
    display: none;
    width: 100%;
}
.imag
{
    width: 250px;
    height: 350px;
    border-radius: 10px;
}

.active 
{
    display: block;
}

.buttons 
{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.btn 
{
    background: none;
    color: black;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

.btn:hover 
{
    color: #AB886D;
}
.dots 
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.dot 
{
    width: 15px;
    height: 15px;
    margin: 5px;
    background: #F0BB78;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.dot.active-dot 
{
    background: #AB886D;
}