body
{
    background-color: #F0BB78;
}
*
{
    margin: 0;
}
nav
{
    background-color: #FFF0DC;
    display: flex;
    color: white;
    height: 40px;
    align-items: center;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    gap: 10px;
}
.logo
{
    height: 55px; 
    width: 55px;
}
.contact 
{
    height: 40px;
    width: 40px;
    transition: width 1s, height 1s;
}
.contact:hover
{
    width: 50px;
    height: 50px;
}
.divcontact
{
   display: flex;
   height: 40px;
   border-radius: 20px;
   margin: 5px;
   padding: 10px;  
   gap: 10px;
   width: 30%;
   justify-content: end;
}
.cosh 
{
    height: 40px;
    width: 40px;
    transition: width 1s, height 1s;
}
.cosh:hover
{
    width: 50px;
    height: 50px;
}
.produse
{
    display: flex;
    height: 40px;
    border-radius: 20px;
    margin: 0px;
    padding: 10px;  
    gap: 10px;
    width: 20%;
    align-items: center;
    justify-content: end;
    font-size: 120%;
    transition: font-size 1s;
} 
.produse:hover
{
    font-size: 140%;
}
.stilproduse
{
    text-decoration: none;
    color: black;
}
.pachete
{
    display: flex;
    height: 40px;
    border-radius: 20px;
    margin: 0px;
    padding: 10px;  
    gap: 10px;
    width: 20%;
    align-items: center;
    justify-content: start;
    font-size: 120%;
    transition: font-size 1s;
} 
.pachete:hover
{
    font-size: 140%;
}
.stilpachete
{
    text-decoration: none;
    color: black;
}
.imagine
{
    display: flex;
    height: 40px;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;  
    gap: 10px;
    width: 30%;
    align-items: center;
    justify-content: left;
}
.map
{
    height: 40px;
    width: 40px;
    transition: width 1s, height 1s;
}
.map:hover
{
    height: 50px;
    width: 50px;
}
.stildesprenoi
{
    text-decoration: none;
    color: black;
}
.stildesprenoi:hover
{
    color: #AB886D;
}
.descriere
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 100px;
    height: 100px;
}
.adaugaincos
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centrat
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.carte
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 600px;
    height: 450px;
    border-radius: 20px;
}
.plata
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    margin-left: 10px;
}
.carteimg
{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 2px;
}
.textul
{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    width: 320px;
    height: 450px;
}
.imgsrc
{
    height: 250px; 
    width: 200px; 
    margin: 2px;
}


footer
{
    background-color: #FFF0DC;
    height: 100px;
}
.separat
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin: 5px;
    margin-top: 20px;
}
.linkfooter
{
    text-decoration: none;
    color: #47341c;
    margin: 5px;
}
.linkfooter:hover
{
    color: #AB886D;
}
.social
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgsocial
{
    width: 20px;
    margin: 2px;
}